<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body th:object="${pizza}">
	<h1>Modifica Pizza</h1>
	<form method="POST" th:action="@{/admin/pizze/update/{id}(id=${pizza.id})}">
		<label>nome</label> <input type="text" name="nome" th:value="*{nome}">
		<label style="color: red"
			th:if="${errors != null && errors.hasFieldErrors('nome')}">
			[[${errors.getFieldError('nome').getDefaultMessage}]] </label> <br> <label>descrizione</label>
		<input type="text" name="descrizione" th:value="*{descrizione}">
		<label style="color: red"
			th:if="${errors != null && errors.hasFieldErrors('descrizione')}">
			[[${errors.getFieldError('descrizione').getDefaultMessage}]] </label> <br>

		<label>foto</label> <input type="text" name="foto" th:value="*{foto}">
		<label style="color: red"
			th:if="${errors != null && errors.hasFieldErrors('foto')}">
			[[${errors.getFieldError('foto').getDefaultMessage}]] </label> <br> <label>prezzo</label>
		<input type="number" name="prezzo" th:value="*{prezzo}"> <label
			style="color: red"
			th:if="${errors != null && errors.hasFieldErrors('prezzo')}">
			[[${errors.getFieldError('prezzo').getDefaultMessage}]] </label> <br>

		<div th:each="ingrediente : ${ingredienti}" th:object="${ingredienti}">
			<input th:id="${'ingrediente' + ingrediente.id}"
				th:value="${ingrediente.id}" type="checkbox"
				th:checked="${pizza.ingredienti.contains(ingrediente)}"
				name="ingredientiSelezionati"> <label
				th:for="${'ingrediente' + ingrediente.id}"
				th:text="${ingrediente.nome}"></label>
		</div>
		<input type="submit" value="MODIFICA">
	</form>
</body>
</html>