<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link th:rel="stylesheet"
	th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/style.css}">
<title>Insert title here</title>
</head>
<body>
	<div th:object="${pizza}">
		<h1>[[*{id}]] - [[*{nome}]] - [[*{descrizione}]] - [[*{prezzo}]]</h1>
		<a href="/users/pizze">Torna alle pizze</a>
		<h2>Offerte:</h2>
		<div th:if="${pizza.offerte.empty}">
			<p>Questa pizza non ha offerte.</p>
		</div>
	
		<ul th:if="${not pizza.offerte.empty}">
			<li th:each="offerta : ${pizza.offerte}">
				<p>Titolo: [[${offerta.titolo}]]</p>
				<p>Data inizio: [[${offerta.dataInizio}]]</p>
				<p>Data fine: [[${offerta.dataFine}]]</p>
				<p>Percentuale sconto: [[${offerta.percentualeSconto}]]</p> <a
				th:href="@{/admin/pizze/{pizzaId}/offerte/{offertaId}/edit(pizzaId=${pizza.id}, offertaId=${offerta.id})}">Modifica
					Offerta</a>
			    <a th:href="@{/admin/offerta/delete/{id} (id=${offerta.id})}">Cancella Offerta</a>
			</li>
		</ul>
	<a href="/admin/pizze/{pizzaId}/offerte/new" th:href="@{'/admin/pizze/' + ${pizza.id} + '/offerte/new'}">Aggiungi Offerta</a>

			
				<h2>Ingredienti:</h2>
		<ul>
			<li th:each="ingrediente : ${pizza.ingredienti}"
				th:text="${ingrediente.nome}"></li>
		</ul>
	</div>
</body>

</html>